body {
    background-image: url(restoimg.jpg);
font-family: sans-serif;
padding: 20px;
}

h1 {
 font-size: 50px;
 margin-top: 1;
 margin-bottom: 10px;
 
}

h2 {
    font-size: 25px;
  
}

h1, h2, p {
    text-align: center;
    color: whitesmoke;
    
}

.navigation {
width: 80%;
background-color: grey;
margin-left: auto;
margin-right: auto;
font-size: 15px;
padding-bottom: 10px;

}

.res {
background-color: grey;
font-size: 15px;
}

.abt {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 25px;

}

hr {
height: 2px;
background-color: whitesmoke;
border-color: whitesmoke;
}
